/* Elements */
body{
  margin: 0;
text-align: center;
}

p{
  font-family: 'Nunito', sans-serif;

}


h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Cinzel', serif;
    color: #66BFBF;
      font-weight: normal;
}

h3{
  font-size: 2.5rem;
  font-family: 'Cinzel', serif;
    color: #66BFBF;
      font-weight: normal;
}
/* Classes   font-family: 'Nunito', sans-serif;    */

.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.middle{
    background-color: #E4F9F5;
}

.bottom{
    background-color: #E4F9F5;
}

.web{
  text-decoration: underline;
}

.tc{
  position: absolute;
  right:300px;
  top:50px;
}

.bc{
  position: absolute;
  left:300px;
  bottom:300px;
}

.skill-row{
margin: 100px auto 100px;
width: 50%;
text-align: left;
line-height: 2;
}

.comp{
  width: 25%;
  float: left;
margin-right: 30px;
}

.chilly{
  width: 25%;
  float: right;
margin-left: 30px;
}

.me{
  width: 25%;
  padding-top: 30px;
}
